* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #1b1b1b;
  background-color: rgb(244, 244, 244);
}

main {
  margin-top: 64px;
}
main section {
  margin: 64px 0px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #02aab0;
}

header .container-fluid {
  flex-direction: row-reverse;
}
header .container-fluid .offcanvas-end i, header .container-fluid .offcanvas-end a {
  display: inline-block;
  margin: 0px 4px;
}
header .container-fluid .offcanvas-end i {
  padding-right: 8px;
}
header .container-fluid .navbar-brand img {
  width: 128px;
}
header .container-fluid .navbar-toggler {
  margin-left: 16px;
}
header .container-fluid .cart-button {
  border: none;
  background-color: transparent;
  margin-right: 16px;
}
header .container-fluid .offcanvas-body .producto-en-carrito {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-template-areas: "img pro trash " "img car trash " "cant price price " "cant_input price price ";
  justify-items: flex-start;
}
header .container-fluid .offcanvas-body .producto-en-carrito hr {
  margin-bottom: 64px;
}
header .container-fluid .offcanvas-body .producto-en-carrito img {
  width: 80%;
  grid-area: img;
  margin: 0 auto;
}
header .container-fluid .offcanvas-body .producto-en-carrito p {
  display: inline-block;
  margin: 0;
  font-size: 12px;
  text-align: start;
  margin-left: 4px;
  height: 32px;
}
header .container-fluid .offcanvas-body .producto-en-carrito p:nth-child(2) {
  margin-top: 4px;
}
header .container-fluid .offcanvas-body .producto-en-carrito .nombre {
  grid-area: pro;
}
header .container-fluid .offcanvas-body .producto-en-carrito .caracter {
  grid-area: car;
}
header .container-fluid .offcanvas-body .producto-en-carrito button {
  grid-area: trash;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  margin: 12px 16px 12px auto;
}
header .container-fluid .offcanvas-body .producto-en-carrito label {
  font-weight: 800;
  margin: 12px auto auto 24px;
}
header .container-fluid .offcanvas-body .producto-en-carrito input {
  grid-area: cant_input;
  width: 32px;
  margin: 8px auto auto 32px;
}
header .container-fluid .offcanvas-body .producto-en-carrito .price {
  font-size: 1.5rem;
  font-weight: 700;
  grid-area: price;
  margin: auto 32px 32px auto;
}
header .container-fluid .offcanvas-body .metodo-entrega > div .tipo-entrega {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 64px;
  margin: 12px auto;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 4px;
}
header .container-fluid .offcanvas-body .metodo-entrega > div .tipo-entrega label, header .container-fluid .offcanvas-body .metodo-entrega > div .tipo-entrega input {
  margin: auto 24px;
}
header .container-fluid .offcanvas-body .metodo-entrega > div .provincia-entrega {
  display: block;
}
header .container-fluid .offcanvas-body .metodo-entrega > div .provincia-entrega label {
  display: block;
}
header .container-fluid .offcanvas-body .metodo-entrega > div .provincia-entrega select {
  display: inline-block;
  width: 136px;
  margin: 12px 12px auto auto;
}
header .container-fluid .offcanvas-body .metodo-entrega > div .provincia-entrega p {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px auto 12px 52px;
}
header .container-fluid .offcanvas-body .monto-total p, header .container-fluid .offcanvas-body .monto-total strong {
  display: inline-block;
}
header .container-fluid .offcanvas-body .monto-total strong {
  font-size: 1.4rem;
  margin: 12px 32px 12px 32px;
}
header .container-fluid .offcanvas-body .monto-total p {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px 32px 12px 64px;
}
header .container-fluid .offcanvas-body .volver {
  text-align: center;
}
header .container-fluid .offcanvas-body .volver button {
  margin: 12px;
  width: 90%;
  height: 32px;
  background-color: #02aab0;
  border-radius: 4px;
  color: #1b1b1b;
}
header .container-fluid .offcanvas-body .volver button a {
  color: #1b1b1b;
}
header .container-fluid .offcanvas-body .volver .seguir-viendo {
  margin: 24px;
}
header .container-fluid .offcanvas-body > div {
  margin: 64px 0;
}
header .container-fluid .offcanvas-body .dropdown a, header .container-fluid .offcanvas-body .dropdown i {
  display: inline-block;
}

.MasVendidos > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.MasVendidos > div .card {
  width: 45%;
  margin: 16px 8px;
}

.productos > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  gap: 8px;
}
.productos > div .card {
  width: 90%;
  margin: 4px 0px;
}
.productos > nav {
  text-align: center;
  margin: 12px;
  padding-top: 32px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #dbdbdb;
}
footer div ul {
  margin: 0;
  padding: 0;
}
footer div ul li {
  margin: 12px;
}

main .compra-final .carta-compra div {
  display: grid;
}

main .compra-final .carta-compra {
  display: flex;
}

main .compra-final .carta-compra {
  flex-direction: row;
}

header {
  text-align: center;
}
header img {
  width: 300px;
}

main nav {
  display: inline-block;
  margin: 12px 24px;
}
main nav a, main nav p {
  display: inline;
  margin: 4px;
}
main .compra-final .carta-compra img {
  width: 128px;
}
main .compra-final .carta-compra div {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "titulo titulo" "caracter caracter" "cantidad precio";
}
main .compra-final .carta-compra div strong {
  grid-area: titulo;
}
main .compra-final .carta-compra div .caracter {
  grid-area: caracter;
}
main .compra-final .carta-compra div .cant {
  grid-area: cantidad;
}
main .compra-final .carta-compra div .monto {
  grid-area: precio;
}

/*# sourceMappingURL=style.css.map */
