@import "base/var";
@import "partials/mixin";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:$font-color;
    background-color: $background;
}
main{
    margin-top: 64px;
    .presentacion{
        h1{
           text-align: center;
           font-size: 2rem;
        }
        p{
            margin-left: 2rem;
            margin-right: 2rem;
            font-size: 1.2rem;
        }
        @media only screen and (min-width:992px) {
            text-align: center;
        }
    }
    section{
        margin: 72px 0;
        h2,h3{
            text-align: center;
            margin: 24px auto;
            width: 70%;
        }
        .CTA-verMas{
            text-align: center;
            margin: 12px;
            padding-top: 32px;
            button{
                @include CTA(90%,32px);
                color:$background;
                border:none;
                @media only screen and (min-width:992px){
                    @include CTA(40%,46px)
                }
            }
        }
    }
}
ul{
    list-style-type: none;
}
a,i{
    text-decoration: none;
    color: $links;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    margin-left: 1rem;
    margin-right: 1rem;
}
img{
    object-fit: cover
}

@import "main/header";
@import "main/main";
@import "main/footer";
@import "main/compra";
@import "main/productos";
@import "main/preCompra";
@import "main/vistaProducto"