@import "base/var";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:$font-color;
    background-color: $background;
}
main{
    margin-top: 64px;
    section{
        margin: 72px 0px;
    }
}
ul{
    list-style-type: none;
}
a,i{
    text-decoration: none;
    color: $links;
}
@for $i from 1 through 6{
    h#{$i}{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}
h2{
    margin-left: 44px
}
p{
    margin-left: 22px
}
@import "main/header";
@import "main/main";
@import "main/footer";
@import "main/compra";
@import "main/productos";
@import "main/preCompra";
@import "main/vistaProducto"