@import "../base/var";
@import "extends";
.drop-down * {
    box-sizing: border-box;
}
.drop-down {
    position: relative;
    margin: 32px 12px 32px auto;
    @media only screen and (min-width:992px){
        display: inline-block;
        margin: 12px 0px;
        position: sticky;
        left: 32px;
        top: 300px;
        bottom: 200px;
        margin-left: 64px;
    }
}
.drop-down .text-select {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 32px;
    width: 216px;
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 3px rgb(80, 80, 80, .1);
    color: #000;
    font-size: .9em;
    cursor: pointer;
    transition: .3s;
    @media only screen and (min-width:992px){
        display: none;
    }
}
.drop-down .text-select:hover {
    background-color: rgb(255, 255, 255, .3);  
}
.drop-down .text-select * {
    pointer-events: none;
}

.drop-down .menu-select {
    width: 250px;
    user-select: none;
    @media only screen and (min-width:992px){
        width: 300px;
    }
}
.drop-down .menu-select ul {
    background-color: #fff;
    border-radius: 4px;
    color: #000;
    list-style: none;
    font-size: .9em;
    animation-name: open-animation;
    animation-duration: .3s;
    transform-origin: down;
    padding: 0;
    margin-left: 32px;
}
@keyframes open-animation {
    0% {transform: translateY(-10px); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}
.drop-down .hide {
    display: none;
    @media only screen and (min-width:992px){
        display: flex;
        flex-direction: column;   
    }
}

.drop-down .menu-select li {
    padding: 15px 20px;
    border-bottom: 1px solid rgb(200, 200, 200, .1);
    cursor: pointer;
    transition: .3s;
    border-radius: 4px;
    &:first-child{
        display:none;
        @media only screen and (min-width:992px) {
            display: inline-block;
            font-size: 20px;
        }
    }
}
.drop-down .menu-select li:hover {
    background-color: darken(#fff, 15%);
}

.modal-compra,.modal-header{
    @media only screen and (min-width:992px){
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: none;
        padding: 0;
        margin: 0;
        height: 128px;
        >img{
            width: 128px;
            margin: 2px auto 2px 650px;
        }
        >.btn-close{
            display: inline-block;
            margin: 2px 32px;
        }
    }
    height: 64px;
    padding: 0;
    >img{
        width: 64px;
    }
}
.modal-body{
    margin: 0;
    padding: 0;
}
.datos-compra{
    @media only screen and (min-width:992px){
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas:
        "cartas formulario";
        justify-items: center;
        form{
            grid-area: formulario;
        }
    }
    .contact{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr 6fr;
        grid-template-areas: 
        "navC navC"
        "linkC formC";
        align-items: flex-start;
        nav{
            grid-area:navC;
            a:first-child{
                margin-left: 126px;
            }
        }
        article{
            grid-area: linkC ;
        }
        form{
            grid-area: formC;
            margin-left: 64px;
        }
    }
}
.nav-contacto{
    display: inline-block;
    margin: 0 100px auto auto;
    text-align: start;
}