@import "../base/var";
%grid{
    display: grid;
}
%flex{
    display: flex;
}
%flexColumn{
    flex-direction: column;
}
%flexRow{
    flex-direction: row;
}
%add_cart{
    position: relative;
    bottom: 0;
    background-color: transparent;
    border:1px solid darken($background,90%);
    border-radius: 32px;
    padding: 6px 16px;
    // margin-top: auto;
    // margin-bottom: 0;
    transition: all .3s;
    &:hover{
        background-color: nth($CTA, 2 );
        border-color: lighten($background, 40%);
    }
    &:active{
        background-color: lighten(nth($CTA, 2 ), 10%);
        border-color: lighten($background, 80%);
    }
}