@import "../base/var";
@import "../partials/extends";
@import "../partials/mixin";
.carousel-inner{
    height: 300px;
    .carousel-item{
        transition: all .5s;
        img{
            object-fit:fill;
            width: 100%;
        }
        .carousel-caption{ 
            bottom: -32px;
            right: 5%;
            left: 5%;
            top: auto;
            color: ligthen($background, 90%);
            transition: all .5s;
        }
    }
}