@import "../base/var";
@import "../partials/mixin";
@import "../partials/extends";
header{
    text-align: center;
    img{
        width: 300px;
    }
}
.datos-compra{
    h1{
        margin: 72px auto 32px auto; 
    }
    nav{
        display: block;
        margin: 12px 24px;
        a,p{
            display: inline;
            margin: 4px;
        }
    }
    .compra-final{
        display: inline-block;
        margin: 24px;
        .carta-compra{
            @extend %flex;
            @extend %flexRow;
            margin-bottom: 24px;
            img{
                width: 128px;
            }
            div{
                @extend %grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-areas: 
                "titulo titulo"
                "caracter caracter"
                "cantidad precio";
                justify-items: flex-start;
                column-gap:24px ;
                margin-left: 18px;
                .nomProducto{
                    grid-area: titulo;
                }
                .cant{
                    grid-area: cantidad;
                }
                .monto{
                    grid-area: precio;
                }
            }
        }
    }
    .carta-envio,.monto-total{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 24px;
        strong{
            font-size: 24px;
        }
        p{
            margin-left: 98px;
        }
    }
    h1{
        text-align: center;
    }
}
.formulario{
    display: inline-block;
    text-align: center;
    @media only screen and (min-width:992px){
        max-width: 600px;
    }
    div{
        display: inline-block;
        text-align: start;
        width: 100%;
        margin: 4px auto;
        label{
            margin-left: 32px;
        }
        input,textarea{
            width: 90%;
            margin: 8px auto 18px 1rem;
            height: 44px;
            border: 1px solid darken($background, 20%);
            border-radius: 4px;
        }
        select{
            width: 90%;
            margin-left: 12px;
            height: 36px
        }
        textarea{
            height: 325px;
            resize: none
        }
    }
    .datos-vivienda{
        @extend %flex;
        @extend %flexRow;
        margin-left: 4px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        .calle,.altura{
            @extend %flex;
            @extend %flexColumn;
        }
        .calle{
            width: 156px;
            margin: 0;
            input{
                width:125%
            }
        }
        .altura{
            margin: auto 4rem;
            width: 91px;
            input{
                width: 100%;
            }
        }
        .dpto{
            margin:0;
            width: 128px;
        }
    }
    h2{
        text-align: center;
    }
    .datos-transferencia{
        display: inline-block;
        width: 90%;
        margin: 12px auto 12px 24px;
        border-top:1px solid darken($background, 20%) ;
        border-bottom: 1px solid darken($background, 20%);
        strong:first-child{
            display: block;
            text-align: center;
            margin: 4px auto 12px auto;
            font-size: 18px;
        }
        strong,p{
            margin-left:12px ;
        }
        strong{
            margin-top: 24px;
        }
        p{
            margin-top: 4px;
        }
    }
    .datos-comprobante{
        input{
            border: none;
        }
    }
    .transaccion{
        input{
            height: 28px;
            width: 60%
        }
    }
    button{
        @include CTA(256px,32px);
        margin:12px auto 32px auto;
        border:none
    }
}