@import "../base/var";
header{
    .container-fluid{
        flex-direction: row-reverse;
        .offcanvas-start{
            .offcanvas-title{
                font-size: 24px;
                color: nth($CTA , 1 );
            }
            .offcanvas-body{
                text-align: start;
                i{
                    margin-left: 8px;
                }
                a{
                    transition: all .3s;
                        &:hover{
                            transform: translateX(3px);
                        }
                }
                .nav-item{
                    transition: all .3s;
                    &:hover a{
                        transform: translateX(3px);
                    }
                }
                .dropdown-menu{
                    border: none;
                }
            }
        }
        .offcanvas-end{
            i,a{
                display: inline-block;
                margin: 0px 4px;
            }
            i{
                padding-right: 8px;
            }
            @import "cart";
        }
        .navbar-brand{
            img{
                width: 128px;
            }
        }
        .navbar-toggler{
            margin-left: 16px;
        }
        .cart-button{
            border:none;
            background-color: transparent;
            margin-right: 16px
        }
        .offcanvas-body{
            >div{
                margin:64px 0
            }
            .dropdown{
                a,i{
                    display:inline-block
                }
            }
        }
    }
}