@import "../base/var";
@import "../partials/extends";
@import "../partials/mixin";
header{
    z-index: 2;
    .navbar{
        padding: 0;
    }
    .container-fluid{
        flex-direction: row-reverse;
        @media only screen and (min-width:992px){
            justify-content: flex-end !important;
            .none-lg{
                display: none;
            }
            >a{
                order: 2;
                margin-left: 32px;
                margin-right: 0;
            }
            >button:first-child{
                order: -3;
                margin-right: 32px;
                margin-left: auto;
            }
        } 
        .offcanvas-start{
            @media only screen and (min-width:992px){
                display: flex;
                flex-direction: row;
                transform: none;
                visibility: inherit;
                position: relative;
                background: transparent;
                border: none;
                order: -2;
                width: auto;
                .offcanvas-header{
                    display: none;
                }
                .offcanvas-body{
                    margin-left: -64px;
                    width: 800px;
                    overflow-y:visible;
                    .dropdown{
                        margin-left: 32px;
                        .dropdown-menu{
                            position: absolute;
                        }
                    }
                    .navbar-nav{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        flex-wrap: nowrap;
                        .nav-item{
                            margin: auto 32px;
                        }
                    }
                }
            }
            .offcanvas-title{
                font-size: 24px;
                color: nth($CTA , 1 );
            }
            .offcanvas-body{
                text-align: start;
                i{
                    margin-left: 8px;
                }
                a{
                    transition: all .3s;
                        &:hover{
                            transform: translateX(3px);
                        }
                }
                .nav-item{
                    transition: all .3s;
                    i{
                        transition: all .3s;
                    }
                    &:hover a,i{
                        transform: translateX(3px);
                        @media only screen and (min-width:992px){
                            transform: translateY(3px);
                        }
                    }
                }
                .dropdown-menu{
                    border: none;
                }
            }
        }
        .offcanvas-end{
            i,a{
                display: inline-block;
                margin: 0px 4px;
            }
            i{
                padding-right: 8px;
            }
            @import "cart";
            @media only screen and (min-width:992px) {
                z-index: 2000;
            }
        }
        .navbar-brand{
            img{
                width: 98px;
            }
        }
        .navbar-toggler{
            margin-left: 16px;
        }
        .cart-button{
            border:none;
            background-color: transparent;
            margin-right: 16px;
            @media only screen and (min-width:992px){
                .bi-cart3{
                    width: 32;
                    height: 32;
                }
            }
        }
        .offcanvas-body{
            >div{
                margin:64px 0
            }
            .dropdown{
                a,i{
                    display:inline-block
                }
            }
        }
    }
}