@import "../base/var";
@import "../partials/extends";
@import "../partials/mixin";
.index{
    margin-top: 156px;
    @import "carrusel";
    .vista-personalizables{
        >div{
            margin: 6rem auto;
        }
    }
    .explicacion{
        h2{
            text-align: center;
            margin: 12px auto
        }
        ol{
            margin-bottom: 24px;
            li{
                p{
                    margin-left: 8px;
                }
            }
        }
    }
    .card{
        border: none;
        background: none;
        border-radius: 0;
        img{
            height: 216px;
            border-radius: 0;
        }
        .card-body{
            text-align: center;
            p,strong{
                margin:0
            }
            strong{
                font-size: 18px
            }
            p{
                margin-top: 4px;
                font-size:24px;
            }
            button{
                @extend %add_cart;
                transition: all .3s;
                &:hover a{
                    color: lighten($background, 40%);
                }
                a{
                    color:darken($background, 60%);
                    i{
                        margin-right: 4px;
                    }
                    .boton-comprar-xs{
                        @media only screen and (max-width:744px){
                            display: inline;
                        }
                    }
                    span{
                        @media only screen and (max-width:744px){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.MasVendidos{
    >div{
        @extend %flex;
        @extend %flexRow;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .card{
            width: 45%;
            margin: 16px 8px;
        }
    }
}
.productos{
    >div{
        @extend %grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;
        gap: 8px;
        .card{
            width: 90%;
             margin: 4px 0px;
        }
    }
}
@import "scrolleable";