@import "../base/var";
@import "../partials/extends";

.pre-compra{
    margin-top:128px ;
    nav{
        display: inline-block;
        margin: 12px 24px;
        a,p{
            display: inline;
            margin: 4px;
        }
    }
    .carta-producto-precompra{
        text-align: center;
        @media only screen and (min-width:992px){
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        img{
            display: inline-block;
            width: 90%;
            @media only screen and (min-width:992px){
                width: 30%;
                margin: 0 24px 0 auto;
            }
        }
        div{
            text-align: start;
        }
        article{
            @media only screen and (min-width:992px){
                width: 30%;
                margin: 0 auto 0 24px;
            }
        }
    }
    .CaracteristicasProductoPreCompra{
        @media only screen and (min-width:992px){
            margin: 128px 64px;
            hr{
                display: none;
            }
            h2{
                width: 40%;
                margin-left:32px;
                margin-right: auto;
            }
            ul{
                width: 40%;
                margin-left: 128px;
            }
        }
    }
}