@import "../base/var";
@import "../partials/article";
#stock{
    @media only screen and (min-width:992px){
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto;
        grid-template-areas:
        "article Mates"
        "article SetMatero"
        "article SetEsponjas"
        "article Figuras"
        "article Macetas"
        "article Tazas";
        article{
            grid-area: article;
        }
    }
}