@import "../base/var";
@import "../partials/extends";
@import "../partials/mixin";
/* Works on Firefox */
@media only screen and (min-width:992px){
    .scrolleable-cards,.scrolleable-personalizables{
        scrollbar-width:4px;
        scrollbar-color: transparent;
      }
      
    .scrolleable-cards,.scrolleable-personalizables::-webkit-scrollbar {
        width: 4px;
    }
      
    .scrolleable-cards,.scrolleable-personalizables::-webkit-scrollbar-track {
        background: $background;
      }
      
    .scrolleable-cards,.scrolleable-personalizables::-webkit-scrollbar-thumb {
        background-color: darken($background, 20%);
        max-width:4px ;
        border-radius: 4px;
        border-color:transparent;
      }
}
.scrolleable-cards{
    @include scroll-x-mandatory (x mandatory,24px,24px 16px 24px 72px,12px);
    padding: 24px;
    margin:32px auto;
    min-width: 300px;
    max-width: 900px;
    @media only screen and (min-width:992px){
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
        visibility: visible;
        scroll-snap-type:none;
        overflow-x: visible;
        scroll-padding: 0;
        width: auto;
        background-color: transparent;
        >.card{
            scroll-snap-align:none;  
        }
    }
    .caracteristicas-servicio{
        text-align: center;
        svg{
            margin: 16px auto;
        }
        @media only screen and (min-width:992px){
            margin: 16px 128px;
            width: 120%;
        }
    } 
}

.scrolleable-personalizables{
    @include scroll-x-mandatory (proximity,24px,24px 16px 24px 72px,12px);
    padding: 24px;
    min-width: 300px;
    max-width: 1000px;
    >div{
        max-width:308px
    }
}
.serviceSkills{
    @media only screen and (min-width:992px){
        width: 100%;
        justify-items: center;
    }
}
#caracter-service{
    @media only screen and (min-width:992px){
        grid-template-columns: repeat(3,1fr);
        width: 200%;
        margin-left:22rem ;
    }
}